.background {
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(rgb(109, 57, 15), rgb(170, 135, 90));
    width: 100vw;
    height: 100vh;
}

.container {
    background-color: rgb(255, 255, 255);
    height: 80vh;
    width: 70vw;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
}

.article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(163, 106, 20);
    background-image: url(../public/background-img.png);
    background-size: cover;
    width: 60%;
    border-radius: 20px;
    color: rgb(255, 255, 255);
}

.article h1 {
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

.article h3 {
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}

.aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    border-radius: 0 20px 20px 0;
    padding: 2rem;
    gap: 1.2rem;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.aside h1 {
    text-align: center;
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

.aside p {
    font-size: 0.9rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: rgb(158, 158, 158);
    text-align: center;
}

.socialmedia {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
}

.media {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background-color: rgba(194, 194, 194, 0.185);
    border-radius: 100%;
}

.media img {
    width: 2rem;
    height: 2rem;
}

.media:hover {
    background-color: rgb(211, 211, 211);
    transition: 0.2s;
}

.bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.aside h2 {
    font-size: 0.9rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: rgb(187, 187, 187);
}

.aside h2:hover {
    color: rgb(0, 0, 0);
    text-decoration: underline;
}

.passwordp {
    display: flex;
    width: 100%;
    justify-content: start;
    height: 1rem;
    padding: 0;
}

.passwordp p {
    font-size: 0.6rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: rgb(158, 158, 158);
}

.error-text {
    color: red;
    font-size: 0.7rem;
}

.error-text.success {
    color: green;
}

@media (max-width: 1024px) {
    .container {
        width: 80vw;
        height: 85vh;
    }

    .article h1 {
        font-size: 2rem;
    }

    .article h3 {
        font-size: 1rem;
    }

    .aside h1 {
        font-size: 1.8rem;
    }

    .aside p {
        font-size: 0.8rem;
    }

    .aside h2 {
        font-size: 0.8rem;
    }

    .media {
        width: 2.5rem;
        height: 2.5rem;
    }

    .media img {
        width: 1.5rem;
        height: 1.5rem;
    }
}

@media (min-width: 1440px) and (max-width: 2560px) {
    .container {
        width: 80vw;
        height: 80vh;
    }

    .article h1 {
        font-size: 4rem;
    }

    .article h3 {
        font-size: 2rem;
    }

    .aside {
        gap: 3rem;
    }

    .aside h1 {
        font-size: 4rem;
    }

    .aside p {
        font-size: 1.5rem;
    }

    .aside h2 {
        font-size: 1.5rem;
    }

    .media {
        width: 5rem;
        height: 5rem;
    }

    .media img {
        width: 3rem;
        height: 3rem;
    }
}